.all-photos {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.all-photos__title {
  font-size: 2rem;
  font-weight: bold;
}
.all-photos__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.all-photos__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  object-fit: cover;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.all-photos__delete-btn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
  cursor: pointer;
  width: 100%;
}
.all-photos__img {
  width: var(--photo-width, 250px);
  height: var(--photo-height, 250px);
  object-fit: cover;
  border-radius: 4px;
}

.all-photos__delete-btn:hover {
  background: #333;
}

.all-photos__delete-btn:active {
  background: #555;
}

.all-photos__delete-btn:focus {
  outline: none;
}
