* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  background: #faf6fa;
  color: #c209c1;
  font-size: 16px;
}
.navbar {
  width: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 20px 10px;
}

.user-list-container {
  width: 100%;
  max-width: 80%;
  margin: auto;
  font-family: sans-serif;
  padding: 20px;
  border: 1px solid #c209c1;
  border-radius: 15px;
}

.user-list {
  padding: 10px;
}
.user-list-header,
.user-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

.user-list-header {
  font-weight: bold;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
}
.avatar-header,
.name-header,
.email-header,
.avatar,
.name,
.email {
  flex: 1;
  text-align: left;
}

.avatar-photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}
.action-buttons {
  display: flex;
  gap: 10px;
}
.btn {
  border-radius: 30px;
  text-decoration: none;
}
.btn-edit {
  background: #4caf50;
  border: 1px solid #4caf50;
}
.btn-delete {
  background: #f44336;
  border: 1px solid #f44336;
}
.button.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.back {
  color: #c209c1;
}
